.password_input {
  position: relative;
}
#eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  z-index: 99;
}
#eye_slash {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  z-index: 99;
  
}
